h1{
font-size: 30px;
text-align: center;
color: #de7471
}

h2{
	text-align: center;
}

a{ 
	text-align: center;
}

img{
	margin: auto;
	display: flex;
}

p{
font-size: 20px;
text-align: center;
font-family: Helvetica, sans-serif;
}

body {
background-color: #007471;
}